[Unit]
Description=Concerts Recommender Stable
After=network.target

[Service]
Type=simple
EnvironmentFile=/home/idkroff/recommender-stable/.env
ExecStart=/home/idkroff/recommender-stable/run.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target