[Unit]
Description=Concerts Recommender Stable
After=network.target

[Service]
Type=simple
EnvironmentFile=/opt/recommender/.env
ExecStart=/opt/recommender/run.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target